<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="signup(signupForm)" #signupForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input matInput type="email" name="email" ngModel #emailInput="ngModel" email placeholder="E-Mail" required />
            <mat-error *ngIf="emailInput.invalid">Enter Valid  email</mat-error>
        </mat-form-field>
        
        <mat-form-field>
            <input matInput type="password" name="password" ngModel #passwordInput="ngModel" placeholder="Password" required />
            <mat-error *ngIf="passwordInput.invalid">Enter Valid  Password</mat-error>
        </mat-form-field>
        <button mat-raised-button color="accent" type="submit">Signup</button>
    </form>
</mat-card>
